<doctype! HTML>
<html>
	<head>
	</head>

	<body>
		<div id="content">
			<form action="/new" method="post"> Add a new document <%= @filename %> <br>
				<input type="text" id = "create" name="title">
				<button type="submit">Create</button>
			</form>
		</div>
	</body>


</html>
